*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font: size 100%;
    width: 700px;
    border: solid steelblue;
    box-shadow: 0 10px 10px 10px;
    margin: auto;
}
header{
    background: linear-gradient(to bottom, white, lightsteelblue);
    padding-bottom: 2em;
    border-bottom: solid steelblue;
}
header img{
    float:left;
    padding: 10px;
}
header h1{
    font-style:italic;
    font-size: 300%;
    color:steelblue;
    text-indent: 30px;
    margin: .5em 0 .25em 0;
    
}
header h2{
    text-indent:30px;
}
section{
    a:visited{color: maroon};
    a:link{color:maroon};
    a:hover,a:focus{color:steelblue};

    & h1{
        clear: left;
        margin: 1em 0 .5em 1em;
    }

    & h2{
        margin: 1em 0 1em 1em;
    }
    & h3{
        margin: 1em 0 1em 1.5em;
    }
    & p{
        margin: 1em 1em 1em 1.5em; 
    }
    & blockquote{
        margin: 1em 1em 1em 3em;
    }
}
aside {
    border: 3px solid steelblue;
    border-radius: 20px;
    margin: 2em;
    


    & h1{
    color:maroon;
    margin: .5em 0 .5em 1.25em;
    }
    & ul{
    line-height: 1.5;
    font-weight: bold;
    a:link{color:steelblue};
    a:visited{color: steelblue;};
    a:hover, a:focus{color:maroon};
    margin: 0 0 0 3em;
    }
    & li{
        margin: .5em 0 1em 0;
    }
}
footer{
    margin: 5em 0 0 0;
    padding: 1em 0 1em 0;
    font-size:80%; 
    text-align: center;
    background-color: steelblue;
    
    & p{
        color: white;
    }
}